{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">Cadastro de novo Projeto</h1> 
        <h4 class="card-description">
          Preencha os campos abaixo para adicionar um novo projeto.
        </h4>

        <form method="post" action="">
          {% csrf_token %}
          {{ form.as_p }}

          <a href="{% url 'projeto:projeto_index' %}" class="btn btn-dark">Cancelar</a>
          <button type="submit" class="btn btn-primary ml-2">Salvar</button>
          <a href="#" class="btn btn-danger ml-2">Baixar em PDF</a>
        </form>

      </div>
    </div>
  </div>
</div>

{% endblock %}