{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">Cadastro de nova Equipe</h1> 
        <h4 class="card-description">
          Preencha os campos abaixo para adicionar uma nova Equipe.
        </h4>

        <form method="post" action="">
          {% csrf_token %}
          {{ form.as_p }}

          <a href="{% url 'equipe:equipe_index' %}" class="btn btn-dark">Cancelar</a>
          <button type="submit" class="btn btn-primary ml-2">Salvar</button>
        </form>

      </div>
    </div>
  </div>
</div>

{% endblock %}