{% extends "base.html" %}
{% load static %} 

{% block content %}
{% spaceless %}
<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
        <h1 class="card-title">Detalhes do Equipe: {{ equipe.nome }}</h1> 
        <h4 class="card-description">Informações completas sobre o equipe.</h4>

        <div class="form-group d-flex align-items-center mb-3">
          <label class="mb-0 mr-1 text-muted">Nome:</label>
          <p class="form-control-static mb-0 font-weight-bold">{{ equipe.nome }}</p> 
        </div>
        <div class="form-group mb-3"> 
          <label class="text-muted">Descrição:</label>
          <p class="form-control-static">{{ equipe.descricao|default:"" }}</p>
        </div>

        <div class="form-group mb-3">
          <label class="text-muted">Peso:</label>
          <p class="form-control-static">{{ equipe.peso|default:"1" }}</p>
        </div>
        
        <div class="mt-4"> 
            <a href="{% url 'equipe:equipe_index' %}" class="btn btn-dark">Voltar para a Listagem</a>
            <a href="{% url 'equipe:equipe_update' id_equipe=equipe.id %}" class="btn btn-warning ml-2">Editar Equipe</a>
        </div>
      </div>
    </div> 
  </div>
</div>
{% endspaceless %}
{% endblock %}